body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-color-btn: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.form__label-check,
.button-modal,
.footer-send__input,
.button-filters,
.client-list__link,
.feature-list__link,
.batton-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: flex;
  border-radius: 4px;
  border: 0;
  min-width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero {
  display: inline-flex;
}
.button__hero:hover,
.button__hero:focus {
  background-color: var(--bg-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__footer {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .button__footer {
    margin-left: 12px;
  }
}
.button__footer:hover,
.button__footer:focus {
  background-color: var(--bg-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__form {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__form:hover,
.button__form:focus {
  background-color: var(--bg-color-btn);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icone {
  fill: currentColor;
}

.header {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.page-header {
  display: flex;
  align-items: center;
  min-height: 60px;
}
.page-header__batton-menu {
  position: absolute;
  right: 15px;
  color: var(--title-text-color);
}

.batton-menu {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.batton-menu:hover,
.batton-menu:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .batton-menu {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.menu-container .mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container__batton-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--title-text-color);
}

.mob-menu-top {
  padding-top: 48px;
  padding-left: 40px;
}

.mobile-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.mobile-menu-list__item {
  margin-bottom: 32px;
}
.mobile-menu-list__item:last-child {
  margin-bottom: 0;
}
.mobile-menu-list__link--current {
  color: var(--accent-color);
}

.mob-menu-bot {
  margin: 0 83px 48px 40px;
}

.mobile-menu-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-menu-contacts__item {
  margin-bottom: 32px;
}
.mobile-menu-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-menu-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    justify-content: space-between;
  }
}

.site-nav {
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    margin-left: 88px;
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
    margin-right: 305px;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transform: scaleX(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
  display: block;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
  }
}
.auth-nav__list {
  margin-left: auto;
}
.auth-nav__link {
  display: flex;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .auth-nav__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo-second {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-second:hover,
.logo-second:focus {
  color: var(--accent-color);
}

.logo-second--footer {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-second--footer:hover,
.logo-second--footer:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-m-1.jpg);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-m-2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-t-1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-t-2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero-d-1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-d-2.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

@media (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
.feature-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .feature-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}
@media screen and (min-width: 480px) {
  .feature-list__item:last-child {
    margin-bottom: 0;
  }
}
.feature-list__link {
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .feature-list__link {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__link {
    width: 270px;
  }
}
.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}
.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command {
  background: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .command__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command__title {
    margin-bottom: 50px;
  }
}

.title {
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 480px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.command-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .command-list__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .command-list__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command-list__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  .command-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .command-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .command-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .command-list__item:nth-child(2) {
    margin-right: 30px;
  }
}
.command-list__card {
  padding-bottom: 24px;
  padding-top: 30px;
}
@media screen and (min-width: 1200px) {
  .command-list__card {
    padding-bottom: 30px;
  }
}
.command-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
}
.command-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  text-align: center;
}

@media screen and (min-width: 480px) {
  .client__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.client-list__item {
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .client-list__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .client-list__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client-list__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .client-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .client-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .client-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .client-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item:nth-child(3) {
    margin-right: 30px;
  }
}
.client-list__link {
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: #ffffff;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover,
.client-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.client-list__icon {
  fill: currentColor;
}

.work {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__work-list {
  margin-top: 50px;
}

.work-list {
  display: flex;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__thumb {
  position: relative;
}
.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.portfolio {
  background-color: #ffffff;
}

.filters {
  display: flex;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .filters__filters-list {
    margin-bottom: 30px;
  }
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .filters-list {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 480px) {
  .filters-list {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .filters-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .filters-list__item {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .filters-list__item {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filters-list__item {
    margin-bottom: 0;
  }
}
.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filters:hover,
.button-filters:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  background-color: var(--primary-white-color);
  display: flex;
}

@media (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.project-list__thumb {
  position: relative;
  overflow: hidden;
}
.project-list__about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .project-list__about-text {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .project-list__about-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 480px) {
  .project-list__about-text {
    padding: 63px 24px;
  }
}
.project-list__item {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .project-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project-list__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
}
@media screen and (min-width: 480px) {
  .project-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .project-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.project-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__link:hover .project-list__about-text {
  transform: translateY(0);
}
.project-list__kard {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
  color: var(--title-text-color);
}
.project-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 479px) {
  .page-footer {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .page-footer {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 786px) {
  .page-footer {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    text-align: left;
    align-items: baseline;
  }
}
@media screen and (max-width: 479px) {
  .page-footer__footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 480px) {
  .page-footer__footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__footer-form {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__footer-form {
    margin-left: auto;
  }
}

@media screen and (min-width: 480px) {
  .footer-tab {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer-tab {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 480px) {
  .address {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    display: block;
  }
}
.address__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  text-decoration: none;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-right: 70px;
  }
}
.address__link-town {
  color: var(--primary-white-color);
  text-decoration: none;
}
.address__link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .address__link-footer {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address__link-footer {
    margin-bottom: 9px;
  }
}
.address__item:last-child {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address__item:last-child {
    margin-bottom: 0;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-send {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-send {
    display: flex;
  }
}
.footer-send__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 450px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  outline: none;
}
@media screen and (max-width: 479px) {
  .footer-send__input {
    width: 100%;
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-send__input {
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-send__input {
    width: 358px;
  }
}
.footer-send__input:focus-visible {
  border: 1px solid var(--accent-color);
}
.footer-send__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2) translate(-50%, -50%) rotate(45deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__button-modal {
  top: 8px;
  right: 8px;
}
.modal__line {
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 480px) {
  .modal__line {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal__line {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.button-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  color: var(--accent-color);
}
.button-modal__icone {
  fill: currentColor;
}

.form {
  position: relative;
}
.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: relative;
  display: block;
  color: var(--primary-text-color);
}
.form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icone {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--title-text-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus-visible + .form__icone {
  color: var(--accent-color);
}
.form__input:focus-visible {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}
.form__input-com {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  display: flex;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-com:focus-visible {
  border: 1px solid var(--accent-color);
}
.form__input-com::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-com:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-com::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__label-check {
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .form__label-check {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .form__label-check {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox {
  position: absolute;
}

.check-icone {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icone {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.form__link {
  margin-left: 4px;
  color: var(--accent-color);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.form__text {
  margin-left: 8px;
} /*# sourceMappingURL=main.css.map */
